{"partienummer":"$partie.nummer",
"nameSchwarz":"$partie.schwarz",
"nameWeiss":"$partie.weiss",
"zugnummer":"$zugnummer",
"letzterZug":"$letzterZug",
"stand":"$stand",
"standVorher":"$standVorher",
"spielfarbe":"$spielfarbe",
"amZug":"$amZug"}
