#* Der Kommunikations-Frame ist unsichtbar, um die Datenmenge zu reduzieren,
   wird die Form nicht mit CSS und Table aufbereitet.
*#
<html>
    <head>
        <script language="JavaScript" src="/Quarto/js/ServerKommunikation.js"></script>
    </head>
    <body onLoad="meldeSpielstand()">
        <form name="AktuellerStand" method="post" action="spielzug">
            <input name="partienummer" type="hidden" value="$partie.nummer">
            <input name="nameSchwarz" type="hidden" value="$partie.schwarz">
            <input name="nameWeiss" type="hidden" value="$partie.weiss">
            #set $zugnummer = len($partie.zuege)
            <input name="zugnummer" type="hidden" value="$zugnummer">
            #set $stand = $partie.zuege
            <input name="stand" type="hidden" value="$stand">
            #set $spielfarbe = ""
            #if $benutzer.name == $partie.schwarz:
                #set $spielfarbe = "s"
            #end if
            #if $benutzer.name == $partie.weiss:
                #set $spielfarbe = "w"
            #end if
            <input name="spielfarbe" type="hidden" value="$spielfarbe">
            #if $zugnummer % 4 == 0 or ($zugnummer + 1) % 4 == 0:
                #set $amZug = "s"
            #else:
                #set $amZug = "w"
            #end if
            <input name="amZug" type="hidden" value="$amZug">
            <input name="beendet" type="hidden" value="$partie.beendet">
        </form>
    </body>
</html>
