{"partienummer":"$partie.nummer",
"nameSchwarz":"$partie.schwarz",
"nameWeiss":"$partie.weiss",
"zugnummer":"$zugnummer",
"stand":"$partie.zuege",
"spielfarbe":"$spielfarbe",
"amZug":"$amZug",
"beendet":"$partie.beendet"}
