<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
          "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta charset="utf-8">
		<title>Quarto</title>
	        <link rel=stylesheet type="text/css" href="/site.css">
		<style>
			* {padding: 0;	margin: 0; font-family: Arial, sans-serif;}
			body { margin: 0; font-size: 15px;}
			canvas { width: 100%; height: 100% }
			.info {position: absolute; left: 10px; bottom: 10px; text-align: left;}
		</style>
		<script type="text/javascript" src="/Quarto/js/Brett.js"></script>
		<script type="text/javascript" src="/Quarto/js/Feld.js"></script>
		<script type="text/javascript" src="/Quarto/js/Stein.js"></script>
		<script type="text/javascript" src="/Quarto/js/ViewUtilities.js"></script>
		<script type="text/javascript" src="/Quarto/js/ServerKommunikation.js"></script>
		
		<script type="text/javascript" src="/js/three.min.js"></script>
		<script type="text/javascript" src="/js/Detector.js"></script>
		<script type="text/javascript" src="/js/CanvasRenderer.js"></script>
		<script type="text/javascript" src="/js/Projector.js"></script>
		<script type="text/javascript" src="/js/OrbitControls.js"></script>
		<script type="text/javascript" src="/js/THREEx.KeyboardState.js"></script>
		<script type="text/javascript" src="/js/THREEx.WindowResize.js"></script>
		<script type="text/javascript" src="/js/ThreeCSG.js"></script>
		
	</head>
	<body>
		<div class="info">
			<a href="/Anmeldung/">Neu Anmelden</a><br/>
			<a href="/Quarto/PartienAuswahl/">Andere Partie</a><br/>
			<a href="/Quarto/hilfe.html" target="_blank">Hilfe</a><br/>
<!--
			<div id="starteReplay">
				<a href="javascript:starteReplayModus()">Partie nachspielen</a>
			</div>
		        <div id="exitReplay">
				<a href="javascript:beendeReplayModus()">Zur&uuml;ck zur Partie</a>
			</div>
-->
		</div>
	<div id="Spieler" class="spielstand">
            <form name="Standform" action="" method="post">
                <table>
                    <tr>
                        <td>Spieler 1:</td>
                        <td>
                            <input 
                                type="text" onFocus="this.blur();self.focus()" 
                                name="nameSchwarz" size="20">
                        </td>
                        <td>
                            <input 
                                type="text" onFocus="this.blur();self.focus()" 
                                name="AmZugSchwarz" size="2">
                        </td>
                    </tr>
                    <tr>
                        <td>Spieler 2:</td>
                        <td>
                            <input 
                                type="text" onFocus="this.blur();self.focus()" 
                                name="nameWeiss" size="20">
                        </td>
                        <td>
                            <input 
                                type="text" onFocus="this.blur();self.focus()" 
                                name="AmZugWeiss" size="2">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        
        <!-- Dieses Skript erzeugt eine neue canvas im body, daher nicht in den head verschiebbar -->
		<script src="/Quarto/js/Quarto.js"></script>
				
	</body>
</html>
