<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
        <link rel=stylesheet type="text/css" href="/site.css">
        <title>Profil &Auml;nderung</title>
    </head>
    <body>

        <h3>Profil &Auml;nderung</h3>
	    <p>Hier k&ouml;nnen Sie Ihr Passwort und Ihre Mail-Adresse &auml;ndern.</p>
	    <p>
	    Bitte benutzen Sie zu Ihrer eigenen Sicherheit kein Passwort, welches Sie 
	    bereits f&uuml;r andere Anwendungen
	    verwenden (z.B. f&uuml;r Ihren Internet-Zugang oder Ihr Firmen-LAN)!
	    Das neue Passwort m&uuml;ssen Sie zweimal eingeben, um Tippfehler zu vermeiden.
	    Falls Sie das neue Passwort in beiden Feldern leer lassen, wird das Passwort nicht ge&auml;ndert.</p>
	    <p>
	    Ihre Email-Adresse sollten Sie angeben, damit ich Sie erreichen kann, falls Sie
	    Ihr Passwort vergessen, oder falls R&uuml;ckfragen zu Partien bestehen.</p>
	    
	    <p>Ich m&ouml;chte meine Daten doch nicht &auml;ndern, sondern zur <a href="/PartienAuswahl/">Partien Auswahl</a></p>
        <p>Ich m&ouml;chte meinen <a href="/ProfilAenderung/loescheBenutzer">Benutzer l&ouml;schen</a></p>

        <form method="post" action="aendereProfil">
            <table>
                <tr>
                    <td>Name:</td>
                    <td>
                        $benutzer.name
                    </td>
                </tr>
                <tr>
                    <td>Neues Kennwort:</td>
                    <td>
                        <input name="passwort" type="password" size="20" maxlength="20" value="$passwort">
                    </td>
                </tr>
                <tr>
                    <td>Kennwort wiederholen:</td>
                    <td>
                        <input name="passwortKopie" type="password" size="20" maxlength="20" value="$passwortKopie">
                    </td>
                </tr>
                <tr>
                    <td>Email-Adresse:</td>
                    <td>
                        <input name="mailAdresse" type="text" size="40" maxlength="40" value="$mailAdresse">
                    </td>
                </tr>
                <tr>
                    <td>Registriert seit:</td>
                    <td>
                        $benutzer.datumAngelegt
                    </td>
                </tr>
                <tr>
                    <td>Spiel:</td>
                    <td>
                        <select name="spiel" size="1">
							<option value="Abalone" 
							#if $spiel == "Abalone":
								selected="selected"
							#end if
							>Abalone</option>
							<option value="Quarto" 
							#if $spiel == "Quarto":
								selected="selected"
							#end if
							>Quarto</option>
						</select>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Profil &auml;ndern"></td>
                </tr>
                <tr>
                    <td colspan="2"><span class="meldung">$fehler</span></td>
                </tr>
            </table>
        </form>
    </body>
</html>
